* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    background: rgb(0, 0, 0);
    color: white;
}

body {
    margin: 100px 70px;
    width: 30%;
    padding: 10px;
    background-color: transparent;

}
h1, .hits {
    text-align: center;
}

h1 {
    font-size: 3rem;
    border-bottom: 1px solid white;
}

.taylorSongs {
    display: flex;
    justify-content: space-between;
}

ol {
    margin-top: 10px;
    list-style-type: none;
}